/*
	TEDx Bahcesehir Main Page
	Author: Mert Akengin
*/

HTML, BODY {
	background-color:black;
	font-family:'Open Sans';
	margin:0;
	padding:0;
	box-shadow:none;
}

* { transition:0.2s; }

.img {
	background-color:transparent;
	background-position:center;
	background-size:auto;
	background-clip:border-box;
	background-attachment:local;
	background-repeat:no-repeat;
}

.content {
	width:100%;
	height:100vh;
	font-size:0;
	text-align:center;
	background-image:url("./img/scene.jpg");
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
}
.content A {
	display:inline-block;
	width:50%;
	height:100%;
	color:white;
	text-decoration:none;
	vertical-align:middle;
	box-sizing:border-box;
	background-color:rgba(0,0,0,0.4);
	padding:35vh 0;
}
.content A:hover {
	background-color:rgba(0,0,0,0.7);
}
.content A SPAN {
	display:block;
}
.content A SPAN:nth-child(1) {
	font-size:5rem;
	font-weight:200;
}
.content A SPAN:nth-child(2) {
	font-size:1.8rem;
	font-weight:300;
}
